html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #fff;
    min-width: 320px;
    overflow-x: hidden;
}



section {
    padding: 50px 0;
}


a {
    color: #000;
}

a:hover {
    color: #7e7e7e;
}



/* Modal BUY CART */
.modal-title {
    margin-bottom: 0;
    line-height: var(--bs-modal-title-line-height);
    font-size: 16px;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
    font-size: 16px;
}

.modal-body img {
    max-width: 50px;
}

:root{

  --width      : 36;

  --rounding   : 4px;

  --accent     : #696;

  --dark-grey  : #ddd;

  --grey       : #eee;

  --light-grey : #f8f8f8;

}

*, ::before, ::after {

    box-sizing: border-box;

    margin: 0;

}

html {

    font-feature-settings: 'onum','pnum';

    line-height: 1.8;

    -webkit-text-size-adjust: none;

    text-size-adjust: none;

    height: 100%;

}

.card-img, .card-img-bottom, .card-img-top {
    width: 20%;
}

img {
    max-width: 20%;
    height: auto;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 30%;
}
